<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
</script>

<script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>

<script>
  if (/.*?(\?|&)print-pdf/.test(window.location.toString())) {
      var ytVideos = document.getElementsByTagName("iframe")
      for (let i = 0; i < ytVideos.length; i++) {
          var videoFrame = ytVideos[i]
          var isYouTube = /^https?:\/\/(www.)youtube\.com\/.*/.test(videoFrame.src)
          if (isYouTube) {
              var div = videoFrame.parentElement
              var parent = div.parentElement
              videoFrame.remove()
              div.remove()
              var p = document.createElement('p')
              p.append(
                  document.createTextNode(
                      "There was an embedded video here, but it is disabled in the printed version of the slides."
                  )
              )
              p.append(document.createElement('br'))
              p.append(document.createTextNode("Visit instead:"))
              p.append(document.createElement('br'))
              const anchor1 = document.createElement('a');
              anchor1.href = videoFrame.src;
              anchor1.textContent = videoFrame.src;
              p.append(anchor1);
              p.append(document.createElement('br'))
              const altSrc = videoFrame.src.replace(
                  /(^https?:\/\/(www.)youtube\.com)\/(embed\/)(\w+).*/,
                  "https://www.youtube.com/watch?v=$4"
              );
              const anchor2 = document.createElement('a');
              anchor2.href = altSrc;
              anchor2.textContent = altSrc;
              p.append(document.createTextNode("or:"))
              p.append(document.createElement('br'))
              p.append(anchor2);
              p.append(document.createElement('br'))
              p.append(document.createTextNode("to watch the content."))
              parent.appendChild(p)
          }
      }
  }
</script>
