name: Build and deploy
on:
  push:
    paths-ignore:
      - '.gitignore'
      - '.mergify.yml'
      - 'README.md'
      - 'CHANGELOG.md'
      - 'LICENSE'
      - 'code/**'
      - '.github/workflows/check-gradle-projects.yml'
  pull_request:
  workflow_dispatch:

jobs:
  Build-Slides:
    runs-on: ubuntu-latest
    concurrency:
      group: slides-${{ github.ref }}
      cancel-in-progress: false
    steps:
      # Checkout the repository
      - name: Checkout
        uses: danysk/action-checkout@0.2.22
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.211.0
        with:
          working-directory: shared-slides
      - name: Compute the version of Hugo
        id: hugo
        shell: bash
        run: |
          USES=$(cat <<TRICK_RENOVATE
          - uses: gohugoio/hugo@v0.141.0
          TRICK_RENOVATE
          )
          echo "Scripts update line: \"$USES\""
          echo "Computed version: \"${USES#*@v}\""
          echo "version=${USES#*@v}" >> "$GITHUB_OUTPUT"
      - name: Download Hugo
        run: |
          HUGO_VERSION="${{ steps.hugo.outputs.version }}"
          URL="https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb"
          wget --retry-connrefused --waitretry=1 --read-timeout=20 "$URL" --output-document=hugo.deb
      - name: Install Hugo
        run: sudo dpkg -i hugo.deb
      - name: Remove Hugo Installer
        run: rm hugo.deb
      # - name: Start SSH session
      #   uses: luchihoratiu/debug-via-ssh@main
      #   with:
      #     NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
      #     SSH_PASS: ${{ secrets.SSH_PASS }}
      - name: Run the preprocessor
        run: shared-slides/preprocess.rb
      - name: Build slides with hugo
        run: hugo
      - name: Transform and Inline Mermaid charts
        uses: cric96/inline-mermaid@1.14.1
        with:
          root-folder: build
          config-file: config.toml
      - name: Deploy website
        if: ${{ github.event_name != 'pull_request' && github.ref == 'refs/heads/master' }}
        uses: JamesIves/github-pages-deploy-action@v4.7.2
        with:
          token: ${{ secrets.DEPLOYMENT_TOKEN }}
          branch: master
          folder: build
          repository-name: unibo-spe/unibo-spe.github.io
